
{% extends 'base.html' %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>INSTANT SPAM an instagram parody</title>
  </head>
  <body>

<h1>About  InstantSpam</h1>
<hr />
<p>A spot to share about yourself or lurk on others</p>
<footer>All Rights Reserved, © 2023 INSTANTSPAM</footer>
 <main class="container"> {% endblock %}</main>
    <footer class="page-footer">
      <div class="right"> 
        All Rights Reserved, © 2023 INSTANTSPAM  
      </div>
    </footer>
  </body>
</html>