{% extends 'base.html' %} {% block content %}


<h1>home </h1>

<h1>welcome to instantspam</h1>

<div class="carousel">
<a class="carousel-item" href="#one!"><img src="https://www.reef2reef.com/attachments/8749c353-b438-426a-b9a6-99d705e41401-jpeg.2994558/" alt ='acropora coral'></a> 
<a class="carousel_item" href="#two!"><img src="https://www.reef2reef.com/data/attachments/2937/2937007-71c06ad779d1382888653f64358b54b8.jpg" alt="rainbow welso"></a>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.carousel');
    var instances = M.Carousel.init(elems, options);
  });
</script>

<hr>
{% endblock %}