{%extends 'base.html'%}{%block content%}

<h1>Posts List</h1>


<div class="card">
  {% comment %} {% url 'post_detail' post_id %} {% endcomment %}
    {% comment %} {% endcomment %}

  {% for post in posts %}
    <a href="{% url 'post_detail' post.id %}"> 
    <span class='card-title'> This post is from "user"</span>
<div>
<ul class="collection">
  <li class="collection-item">"User" said:  {{post.post_field}}</li>
</ul>




   
   
    {% for comment in comments%}
    <ul class="collection">
      <li class="collection-item">comment: {{comment.comment_field}}</li>
    </ul>
 
     
     {%endfor%} 
     </div>
   <hr>


 
 </a> 
{% endfor %}
</div>


{% endblock %}